@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300,800&display=swap");
@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

header .sticky-header {
  -webkit-box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px;
          box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px;
}

header .sticky-header .nav-item .nav-link {
  color: rgb(68, 68, 68) !important;
}

header .sticky-header .nav-item .nav-link:hover {
  color: #F24259;
}

header .navbar {
  padding: 25px;
}

header .navbar .nav-item .nav-link {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-size: 0.93rem;
  color: #daeaec;
}

header .navbar .nav-item .nav-link:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-size: 0.93rem;
  color: #F24259;
}

.btn-primary {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #F24259;
  font-size: 0.8rem;
  width: 130px;
  height: 40px;
}

.btn-primary:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #FFF;
  color: #212332 !important;
  -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
          box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.btn-outline-secondary {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-size: 0.8rem;
  width: 130px;
  height: 40px;
}

.btn-outline-secondary:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #FFF;
  color: #212332 !important;
  -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
          box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.secondary-color {
  color: #F24259;
}

.hero {
  background-image: url(https://moro.netlify.app/main/img/bg/slider.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 60px;
  height: 100vh;
}

.hero h1 {
  font-size: 4.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.hero p {
  font-family: "Mulish", sans-serif;
  color: #d1e5e7;
  margin-top: 0.1rem;
}

.welcome {
  margin-top: 120px;
  margin-bottom: 120px;
}

.welcome h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.welcome p {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #999999;
}

.welcome .card {
  border: none;
  padding-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 20px #e0dfdf;
          box-shadow: 0px 6px 20px #e0dfdf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome .card h3 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

.welcome .card .card-border {
  padding: 20px;
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 2px solid #F24259 !important;
  border-radius: 10px;
}

.welcome .card .card-body {
  padding-top: 0;
}

.welcome .card .fa-pencil-ruler {
  font-size: 2rem;
  color: #F24259;
}

.welcome .card .fa-pencil-ruler::after {
  display: block;
  margin: auto;
  content: "";
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 2.5rem;
  border-bottom: 1px solid #F24259;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome .card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.welcome .card:hover .fa-pencil-ruler:after {
  max-width: 6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #F24259;
}

.welcome .card .card-text {
  font-size: 0.9rem;
}

.skills {
  background-image: url(https://moro.netlify.app/main/img/bg/about.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
}

.skills span {
  font-size: 1.2rem;
  font-weight: 400;
}

.skills .content-paragraph {
  font-size: 0.9375rem;
  padding-right: 30px;
}

.skills p {
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 400;
  color: #d1e5e7;
}

.skills h2 {
  color: #FFF;
  font-weight: 800;
}

.skills .card {
  margin-left: -40px;
  border: none;
  background-color: transparent;
  color: #FFF;
  padding: 1.3rem;
}

.skills .card h3 {
  font-size: 1.1rem;
}

.skills .card .fa-lightbulb:before {
  padding-left: 0.3rem;
}

.skills .card .skills-right-icon {
  font-size: 1.7rem;
  color: #F24259;
}

.skills .card .skills-right-icon::after {
  display: block;
  content: "";
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 1.8rem;
  border-bottom: 2px solid #F24259;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skills .card .card-body {
  padding: 0;
}

.about-us {
  margin-top: 120px;
  margin-bottom: 120px;
}

.about-us p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 0.9375rem;
  color: #999999;
}

.about-us h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.about-us h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

.about-us ul {
  margin: 0;
  padding: 0;
}

.about-us li {
  font-size: 0.9rem;
  line-height: 2.2;
  font-size: 0.9375rem;
  list-style-type: none;
}

.about-us li::before {
  font-size: 0.9rem;
  color: #F24259;
  font-family: "Font Awesome 5 Free";
  content: '\f005';
  margin-right: 0.7rem;
}

.creativity-video-area {
  background-image: url(https://moro.netlify.app/main/img/bg/vedio.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

.creativity-video-area p {
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 400;
  color: #d1e5e7;
}

.creativity-video-area h2 {
  line-height: 2.188rem;
  font-size: 1.563rem;
  color: #FFF;
  font-weight: 700;
}

.creativity-video-area .video-area {
  position: relative;
}

.creativity-video-area .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.creativity-video-area .video-play-icon {
  position: relative;
  color: #FFF;
  padding: 22px 25px;
  background-color: #ff414d;
}

.creativity-video-area .video-play-icon::before {
  position: absolute;
  top: 15%;
  right: 12%;
  padding: 24px;
  border-radius: 200px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background-color: #FFF;
  content: "";
  z-index: -1;
  -webkit-animation: ripple 1.5s ease-out infinite;
          animation: ripple 1.5s ease-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.creativity-video-area .video-play-icon i {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */